
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="author" content="{{ author }}">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="vendor/bootstrap-calendar/calendar.css">
  <link rel="stylesheet" href="css/luncheon.css">
</head>
<body>
  <div class="container">
    <div id="calendar"></div>
  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="vendor/underscore/underscore.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/bootstrap.js"></script>
  <script type="text/javascript" src="vendor/bootstrap-calendar/calendar.js"></script>
  <script type="text/javascript" src="js/luncheon.js"></script>
</body>
</html>
