<!-- Check if we are authenticated and redirect -->
<form class="form-signin" method="POST" ng-submit="login()">
  <h1 class="heading text-muted">Prihlásenie</h1>
  <input type="text" class="form-control" required="" autofocus=""
         placeholder="Email alebo čiarový kód"
         oninvalid="this.setCustomValidity('Toto je povinné pole ktoré musíte vyplniť ak sa chcete prihlásiť.')"
         oninput="this.setCustomValidity('')"
         ng-model="credentials.username">
  <input type="password" class="form-control" placeholder="Heslo (potrebné iba pri emaile)" ng-model="credentials.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$location.path('/user')">Prihlásiť sa</button>
</form>