<form class="form-signin">
    <h1 class="form-signin-heading text-muted">Prihlásenie</h1>
    <input type="text" class="form-control" placeholder="Emailová adresa" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Heslo" required="">
    <h4 class="form-signin-heading text-muted">alebo</h4>
    <input type="text" class="form-control" placeholder="Adresa čiarového kódu" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Prihlásiť sa</button>
</form>