doctype html
html
  head
    title Luncheon
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(charset='UTF-8')

    //- Stylesheets
    link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/luncheon.css')
  body
    .container
      .row
        .col-xs-12.col-sm-offset-2.col-sm-8(class='[ ]')
          ul.event-list
            li
              time(datetime='2014-07-20')
                span.day 4
                |  
                span.month Jul
                |  
                span.year 2014
                |  
                span.time ALL DAY
              |  
              img(alt='Independence Day', src='https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg')
              .info
                h2.title Independence Day
                p.desc United States Holiday
              .social
                ul
                  li.facebook(style='width:33%;')
                    a(href='#facebook')
                      span.fa.fa-facebook
                  li.twitter(style='width:34%;')
                    a(href='#twitter')
                      span.fa.fa-twitter
                  li.google-plus(style='width:33%;')
                    a(href='#google-plus')
                      span.fa.fa-google-plus
            li
              time(datetime='2014-07-20 0000')
                span.day 8
                |  
                span.month Jul
                |  
                span.year 2014
                |  
                span.time 12:00 AM
              .info
                h2.title One Piece Unlimited World Red
                p.desc PS Vita
                ul
                  li(style='width:50%;')
                    a(href='#website')
                      span.fa.fa-globe
                      |  Website
                  li(style='width:50%;')
                    span.fa.fa-money
                    |  $39.99
              .social
                ul
                  li.facebook(style='width:33%;')
                    a(href='#facebook')
                      span.fa.fa-facebook
                  li.twitter(style='width:34%;')
                    a(href='#twitter')
                      span.fa.fa-twitter
                  li.google-plus(style='width:33%;')
                    a(href='#google-plus')
                      span.fa.fa-google-plus
            li
              time(datetime='2014-07-20 2000')
                span.day 20
                |  
                span.month Jan
                |  
                span.year 2014
                |  
                span.time 8:00 PM
              |  
              img(alt='My 24th Birthday!', src='https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg')
              .info
                h2.title Mouse0270&apos;s 24th Birthday!
                p.desc Bar Hopping in Erie, Pa.
                ul
                  li(style='width:33%;')
                    | 1
                    span.glyphicon.glyphicon-ok
                  li(style='width:34%;')
                    | 3
                    span.fa.fa-question
                  li(style='width:33%;')
                    | 103
                    span.fa.fa-envelope
              .social
                ul
                  li.facebook(style='width:33%;')
                    a(href='#facebook')
                      span.fa.fa-facebook
                  li.twitter(style='width:34%;')
                    a(href='#twitter')
                      span.fa.fa-twitter
                  li.google-plus(style='width:33%;')
                    a(href='#google-plus')
                      span.fa.fa-google-plus
            li
              time(datetime='2014-07-31 1600')
                span.day 31
                |  
                span.month Jan
                |  
                span.year 2014
                |  
                span.time 4:00 PM
              |  
              img(alt='Disney Junior Live On Tour!', src='http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg')
              .info
                h2.title Disney Junior Live On Tour!
                p.desc  Pirate and Princess Adventure
                ul
                  li(style='width:33%;')
                    | $49.99
                    span.fa.fa-male
                  li(style='width:34%;')
                    | $29.99
                    span.fa.fa-child
              .social
                ul
                  li.facebook(style='width:33%;')
                    a(href='#facebook')
                      span.fa.fa-facebook
                  li.twitter(style='width:34%;')
                    a(href='#twitter')
                      span.fa.fa-twitter
                  li.google-plus(style='width:33%;')
                    a(href='#google-plus')
                      span.fa.fa-google-plus
    
    //- Scripts (needs to be last to not slow down page loading)
    script(type='text/javascript', src='components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='js/luncheon.js')